.navbar-fixed{
  z-index: 1000;
}

.more-space{
  margin: 25px;
}

/* label focus color */
    .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: #1976d2  !important;
    }

/* label underline focus color */
    .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #1976d2  !important;
     box-shadow: 0 1px 0 0 #1976d2  !important;
    }
